.add-newsalon
{
    background-color: transparent;
    border: none;
}

.right-icons
{
    margin-right: 2%;
}

.box-working-hours
{
    border-top-color: #a60088;
}

.working-hour-btn
{
    margin: 2%;
}

.working-hours-day-container
{
    margin-left: 1%;
    /*float: right;*/
}

.box-notifications
{
    border-top-color: #00a3a6;
}